body {
  font-family: 'Source Sans Pro', sans-serif !important;
  margin: 0;
  padding: 0;
}

#infographic-dropdown {
  position: relative;
  background-image: url(/images/garden/DIG4082-green@2x.png);
}

@media only screen and (max-width: 600px) {
  #infographic-dropdown {
    display: none;
  }
}

#infographic-dropdown * {
  color: white !important;
}

.will-v-flip {
  transition: transform 0.5s;
}

.v-flip {
  transform: rotate(-180deg);
  transition: transform 0.5s;
}

.will-collapse {
  max-height: 1000px;
  transition: opacity 0.5s 0.5s, max-height 1s;
}

.is-collapsed {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.5s, max-height 1s;
}

.rounded-border {
  border-radius: 1em;
}

#sidebar * {
  color: black !important;
}

#sidebar input::placeholder {
  color: #9FD07A;
}

/* Bootstrap-slider stuff */
.slider-horizontal {
  width: 100% !important;
}

.slider-tick {
  width: 0.25em;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0.1em;
}

.slider-handle, .tick-slider-selection, .in-selection {
  background-image: linear-gradient(to bottom, #5FB021 0, #288000 100%) !important;
  background-image: -webkit-linear-gradient(top, #5FB021 0, #288000 100%) !important;
  background-image: -o-linear-gradient(top, #5FB021 0, #288000 100%) !important;
}

.slider-handle {
  border: 0.2em solid white;
}