@import "./theme.less";

#footer-app {
  .navbar {
    background: @med-green;
    box-shadow: 0 5em 5em 2em @light-green;
  }

  .nav-item {
    color: white;
    margin-left: 1em;
    margin-right: 1em;
    .text-uppercase();
    .text-bold();
  }

  #footer-content {
  }
}