@import "./mixins.less";

.will-v-flip, .v-flip {
  transition: transform 0.5s;
}

.v-flip {
  transform: rotate(-180deg);
}

.will-collapse, .is-collapsed {
  transition: opacity 0.5s, max-height 1s;
}

.will-collapse {
  max-height: 1000px;
  h2 {
    margin-top: .3rem;
    margin-bottom: 1rem;
  }
}

.is-collapsed {
  opacity: 0;
  max-height: 0;
}

.dropdown-disabled, .dropdown-disabled * {
  opacity: 0.7 !important;
}

.dropdown-disabled button {
  cursor: not-allowed;
}
#rare-wrapper {
	position: relative;

	hr {
		border-top: 4px solid @med-green;
		width: 100%;
		margin: 0px 15px 10px 15px;
	}
}
#infographic-dropdown {
	padding: 1.5rem 0;
	background-size: cover;
	background-position: center top;
	* {
		color: white !important;
	}
	h4 {
		font-weight: 400;
		letter-spacing: .5px;
		font-size:1.2rem;
  }
}

@media only screen and (max-width: @medium) {
  #infographic-dropdown {
    padding: .8rem;
    .will-collapse,
    button {
      display: none;
    }
  }
}

#infographic-dropdown,
#about-guide-flip {
	svg {
		width: 2.25em;
		height: 2.25em;
		margin: 0.75em;
		opacity: 0.5;
	}
}

#about-guide-flip {
	background-color: @med-dark-green;

	button {
		display: flex;
		align-items: center;
		background: none;
		padding: 0;
	}
	h3 {
		color: white !important;
		font-weight: bold;
		margin: 0 !important;
	}
}

#about-guide {
	font-size: 1rem;

	a {
		color: @med-green !important;

		svg {
			margin-left: 0.3rem;
		}

		&.more-less {
			font-size: 0.9rem;
			text-wrap: nowrap;

			svg {
				margin-left: 0.5rem;
				margin-right: 0.3rem;
			}
		}
	}

	p {
		margin-bottom: 0;
		margin-top: 0.2rem;
		text-indent: 0.5rem hanging;
	}

	.about-guide-header h4 {
		font-size: 1.4rem;
		font-weight: bold;
	}
}

#sidebar input::placeholder {
  color: #9FD07A;
}

#search-results {
	position: relative;
}
#sidebar, h1, h2, h3, h4, h5 {
  color: #1E352F;
}
a.external-link {//a -> fa
	padding-left: 5px;
	color: @med-green !important;
  fill: currentColor;
	svg {
		fill: currentColor;
	}
}
#feature-selector-209 {
	ul {
		height: 12rem;
		overflow-y: scroll !important;
	}
}
.go-top {
	text-align: right;
	a {
		text-align: center;
		display: inline-block;
		margin-right: -50px;
		.fa-2x {
			font-size: 2.3rem;
			padding-bottom: 13px;
			color: @med-green;
		}
	}
	@media (max-width: @medium) {
		margin-top: 1em;
		a {
			margin-right: 0;
		}
	}
}

#view-opts {
	padding-bottom: 1em;
	.row {
		padding-left: 0px !important;
		padding-right: 15px !important;
	}
	.container.settings {
		display: flex;
		flex-flow: row wrap;
	}
}

.search-result{
	&.grid-result {
		height: 95%;
	}
	.card-body {
		padding: .375rem;
		.card-text {
			font-weight: 600;
			font-size: .8125rem;
			line-height: 1rem;
		}
	}
}
